body{
    margin:0px;
    background:url(photos/lap.jpg);
    background-repeat: no-repeat;
    background-size:200ex;
    font-family: 'Playfair Display', serif;
    
}
.head{
    text-align: center;
    color:white;
    font-family: 'Playfair Display', serif;
}
    

.reg{
    display:flex;
    position: absolute;
    top:90px;
    left:125px;
   
    align-items: center;
    justify-content: center;
    
   
   
    
}
.table{
background-color: rgba(34, 32, 31, 0.7);
height:800px;
width:800px;
border:none;


color:white;
font-style:normal ;
font-weight: bolder;
position: absolute;
left:.5px;
text-align:center;
padding-right: 200px;
padding-top: 50px;


}



 
.namebox {
    height:23px;
   border:none;
   border-radius:10px ;
    width:200px;
    outline: none;
    text-align: center;
    background-color: wheat;
    
   
}

    

.add{
    height:70px;
   
    width:600px;
    
   position: relative;
   left:200px;
   border:none;
   border-radius: 10px;
   background-color: wheat;
   
   
}

    
    

.select{
   padding:10px;
   text-align:center;
   
   
}
.btn{
    width:100px;
    height:30px;
    border:30px white;
    border-radius: 50px;
   position: relative;
   left:30%;
   box-shadow: 0 0 5px rgb(49, 48, 48);
   font-weight: bold;

}
.btn:hover{
    background-color: rgb(228, 13, 13);
}